@use "../breakpoints" as breakpoint;
@use "../colors" as *;
@use "../fonts" as *;
.comment__content,.comments__heading,.comment__name,.comment__date{
    margin:0;
    
}
.form__wrapper{
    display:flex;
    justify-content: space-between;
}



.comments{
    padding:0 16px;
    &__heading{
        padding-top:24px;
        padding-bottom: 16px;
        font-size: 32px;
        line-height: 32px;
        font-family: Avenir-demi;
    }
    &__image-container{
        background:url(../assets/images/Mohan-muruge.jpg);
        background-size: cover;
        border-radius: 50%;
        width: 48px;
        max-height: 48px;
        margin-top: 1rem;
        object-fit: contain;
        
    }
    &__container{
        font-size: 17px;
        line-height: 23px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    &__form{
        width: 82%;
        &-inputContainer{
            padding-bottom: 16px;
        }
        &-label{
            padding-bottom: 4px;
            font-size: 14px;
            font-family: avenir-demi;
        }
        &-nameInput,&-textareaInput{
            width: 100%;
            border-radius: 4px;
            padding: 12px;
            border:1px solid $color-secondary-light;
            background-color: #f9f9f9;
        }
        &-nameInput{
            height: 52px;
            
        }
        &-textareaInput{
            height:8rem;
            
        }
        &-submit{
            background-color: $color-primary-dark;
            color: $color-primary-accent;
            height: 52px;
            width: 100%;
            border:none;
            border-radius: 4px;
            font-size: 20px;
            line-height: 20px;
            font-family: avenir-demi;
   }
        &-submit:hover{
            background-color: $color-secondary-dark;
        }
        }
    }
    

.comment{
   max-width: 82%;
    &__container{
        display:flex;
        justify-content:space-between;
        


    }
    &__image-container{
        background-color: $color-secondary-light;
        border-radius: 50%;
        
        width: 48px;
        max-height: 48px;
        margin-top: 1rem;
       
    }
    &__heading{
        display: flex;
        justify-content: space-between;
        padding:16px 0;
        font-size: 1rem;
    }
    
    &__name{
    font-family: avenir-demi;
    
    }
    &__content{
        color:$color-secondary-dark;
    }
}
.comment__date,label{
    color:$silver;
    }
hr{
    border: 1px solid $color-secondary-light;
}

@include breakpoint.medium{
    .comments{
        padding:0 36px;
        &__wrapper{
            padding:0 6rem;
        }
        &__heading{
            font-size: 47px;
            line-height: 44px;
            padding-top: 48px;
            padding-bottom: 36px;
        }
        &__image-container{
            width:62px;
            max-height:62px;
        }
        &__form{
            width:90%
        }
        &__container{
            font-size: 19px;
            line-height: 27px;
            margin-bottom: 2.5rem;
            
        }
        &__form{
            &-label{
                font-size: 16px;
        }
        
        &-nameInput,&-textareaInput{
            padding:16px;
            border:2px solid $color-secondary-light;
        }
        &-inputContainer{
            padding-bottom: 30px;
        }
        
        &-submit{
            max-width: 29%;
            margin-left:31rem;
        }
    }
}
    .comment{
        padding-top:1.5rem;
        padding-bottom: 1.5rem;
        max-width:90%;
        &__image-container{
            width:62px;
            max-height:62px;
        }
       
        
    }

}
@include breakpoint.large{
    .comments{
        padding:0 31rem;
        &__wrapper{
            padding:-1 24rem;
        }
        &__form{
            width:87%;
            &-submit{
                max-width: 40%;
                margin-left:19rem;
            }
        }
    }
    .comment{
        max-width: 87%;
        padding-top: 0;
    }
}