@use "../breakpoints" as breakpoint;
@use "../colors" as *;
@use "../fonts" as *;
.footer{
    background-color:$color-primary-dark;
    color:$color-secondary-light;
    
}
a{
    text-decoration: none;
    color:$color-secondary-light;
}
.footer__heading,.contact__container{
    margin:0;
}

// @include breakpoint.small{
    .footer{
        padding:0 16px;

        &__heading{
           
            padding-top: 24px;
            padding-bottom: 16px;
            font-size: 2rem;
            line-height: 2rem;
            font-family: Avenir-demi;
            color: $color-primary-accent;
            }
        
        &__icons{
           display: flex;
           justify-content: space-between;
           max-width: 10em;
        }
        &__bottom{
            padding-top:22%;
            padding-bottom: 5%;

        }
        &__logo-top{
            display: none;

        }
        &__logo-bottom{
            height: 1.5em;
        }
        &__copyright{
            margin-bottom: 0;
            font-size: 14px;
        }
    }
    .icon{
        height:2rem;
        
    }
    .contact{

        &__container,&__container-item{
            padding-top: 1rem;
            padding-left: 0px;
            font-size: 17px;
            line-height: 25px; 
        }
        &__container-item--bold{
            font-family: Avenir-demi;
        }
    }
// }
@include breakpoint.medium{
    .footer{
     padding:0 36px;
 
     &__heading{
        padding-top: 3rem;
        padding-bottom: 36px;
        font-size: 47px;
        line-height: 44px; 
        min-width: 17rem;
        margin-right: 1rem;
     }
     &__icons{
        padding-top: 3rem;
        padding-bottom: 36px;
        align-items: center;
        display: inline;
        min-width: 16em;
        
       
     }
     
     &__bottom{
        padding-top: 36px;
     }
     &__top{
         display: flex;
         justify-content: space-between;
         
 
     }
     &__logo-top{
        display: block;
        height: 1.5em;
        margin-top: 3rem;
        margin-left: 8.5rem;
         
     }
     
     &__logo-bottom{
         display:none;
 
     }
     &__copyright{
        font-size: 17px;
     }
 }
 
 
 .contact{
     display: flex;
     justify-content: space-between;
     min-width: 70%;
     &__container,&__container-item{
        padding-top: 36px;
        
    }
    &__container-item--bold{
        padding-top: 0%;
        width: 16rem;
        
    }
    } 
 }
 .icon{
    margin-right:1rem;
    
}
 @include breakpoint.large{
    .footer{
        padding: 0 10rem;
        &__logo-top{
            margin-left: 24rem;
        }
        &__heading{
            padding-top: 3rem;
            padding-bottom: 36px;
            font-size: 47px;
            line-height: 44px; 
            min-width: 17rem;
            margin-right: 1rem;
         }
        &__icons{
        padding-top: 3rem;
        padding-bottom: 36px;
        align-items: center;
        display: inline;
        min-width: 16em;
        }
        &__top{
            display: flex;
            justify-content: space-between;
            
    
        }
        &__bottom{
            padding-top: 36px;
         }
         &__top{
             display: flex;
             justify-content: space-between;
             
     
         }
         &__logo-top{
            display: block;
            height: 1.5em;
            margin-top: 3rem;
            margin-left: 8.5rem;
             
         }
         
         &__logo-bottom{
             display:none;
     
         }
         &__copyright{
            font-size: 17px;
         }
    }
    .icon{
        margin-right:1rem;
        
    }
    .contact{
        display: flex;
        justify-content: space-between;
        min-width: 70%;
        &__container,&__container-item{
           padding-top: 36px;
           
       }
       &__container-item--bold{
           padding-top: 0%;
           width: 16rem;
           
       }
       } 
 }
