@use "../breakpoints" as breakpoint;
@use "../colors" as *;
@use "../fonts" as *;
.hero{
    background-image:url(../assets/images/hero-bio.jpg);;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 16.2rem;
    position:relative;
    margin: 0;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    padding:0 16px;
  background: rgba(50, 50, 50, 0.40);
}

.hero__title{
    position:absolute;
    top:40%;
    color: $white;
    font-size: 32px;
    font-family: avenir-demi;
}
.hero__title,.band__title,.band__quote,.band__name,.gallery__heading,.gallery__list{
    margin:0;
}
.band__description,.__band__quote{
    color: $black;
}

.band__image{
    height:17vh;
    width: 100%;
}
.gallery{
    background-color: $alabaster;
    
    &__image{
        width: 100%;
        object-fit: contain;
        
     }
}
// @include breakpoint.small{
    .band{
        padding: 0 16px;
    
    &__title{
        font-size: 32px;
        line-height: 32px;
        font-family: Avenir-demi;
        
    }
    .hero__title{
        font-size: 32px;
        line-height: 32px;
        font-family: Avenir-demi;
        
    }
}
    .band{
        margin: 0;
        &__title{
            padding-top: 24px;
            padding-bottom: 16px;
        }
        &__quote{
            font-size: 18px;
            line-height: 30px;
            font-family: Avenir-demi;
            word-spacing: 2px;
            padding-top: 16px;
        }
        &__name{
            padding-top: 24px;
            padding-bottom: 16px;
            color: $darkblack;
           
        }
        &__description{
            font-size: 17px;
            line-height: 23px;
            word-spacing: 2px;
            padding-top: 0px;
            font-family:Avenir-regular;
        }

    }
    .gallery{
        padding: 0 16px;
        &__list{
            display: flex;
            flex-direction: column;
            padding: 0%; 
        }
        &__heading{
            padding-top: 24px;
            padding-bottom: 16px;
            font-size: 32px;
            line-height: 32px;
            font-family: Avenir-demi;
        }
        &__image{
            margin-bottom: 4%;
        }
   
    
}
// 
@include breakpoint.medium{
    .overlay,.band{
        padding: 0 36px;
    
    

}
.hero{
    height:35rem;
    &__title{
        font-size: 78px;
        line-height: 44px; 
    }
}
.band{
    &__image{
        height:38vh;
        padding-bottom: 36px;
    }
    &__wrapper{
        margin: 0 auto;
        width: 83%;
    }    
    &__quote{
        font-size: 27px;
        line-height: 37px;
    }
    &__quote--regular{
        font-size: 20px;
        line-height: 22px;
    }
    &__name{
        padding-top: 48px;
        padding-bottom: 36px;
        font-size: 31px;
        font-family: Avenir-demi;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        line-height: 27px;
    }
    &__description-para{
        margin: 0%;
    }
}
.band__title,.gallery__heading{
        padding-top: 48px;
        padding-bottom: 36px;
        font-size: 47px;
        line-height: 44px; 
    }

.gallery{
    padding:0 36px;
  
&__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
   
}
&__list-item{
    width: 30%;
    margin: 0.8em;
}
}

}

@include breakpoint.large{
    .overlay,.band,.gallery{
        padding: 0 10rem;
    }
    .hero{
        height:46rem;
        object-position: top;
    }
    .band__image{
        height:48vh;
    }
}